<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="mt-5" [formGroup]="registerForm">
          <div class="form-outline mb-4">
            <input
              formControlName="firstName"
              type="text"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a first name"
            />
            <span
              *ngIf="registerForm.get('firstName')?.errors"
              class="text-danger"
            >
              First Name Required
            </span>
          </div>

          <div class="form-outline mb-4">
            <input
              formControlName="lastName"
              type="text"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a last name"
            />
            <span
              *ngIf="registerForm.get('lastName')?.errors"
              class="text-danger"
            >
              Last Name Required
            </span>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              formControlName="email"
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
            <span
              *ngIf="registerForm.get('email')?.errors"
              class="text-danger"
            >
              Email Required
            </span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              formControlName="password"
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
            <span
              *ngIf="registerForm.get('password')?.errors"
              class="text-danger"
            >
              Password Required
            </span>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="register()"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>