<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Offers</h2>
          <a href="offers.html">view more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-md-4" *ngFor="let car of cars">
        <div class="product-item">
          <a href="offers.html"
            ><img src="{{ car.imagePath }}" alt="" class="img-fluid"
          /></a>
          <div class="down-content">
            <a href="offers.html"
              ><h4>{{ car.description }}</h4></a
            >
            <h6>
              <small>from</small> {{ car.dailyPrice }}
              <small>per weekend</small>
            </h6>
            <ul style="padding: 0">
              <li>Renk: {{ car.colorName }}</li>
            </ul>
            <button class="btn btn-primary" routerLink="/cars/{{car.id}}">Araç Detayı</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
