<div class="sidebar">
  <div class="top">
    <span class="logo">Car Rental</span>
  </div>
  <hr class="cizgi" />
  <div class="center">
    <ul class="liste1">
      <p class="title">Main</p>
      <li class="liste2">
        <span>Dashboard</span>
      </li>
      <p class="title">Lists</p>
      <li class="liste2">
        <span>Kullanıcılar</span>
      </li>
      <p class="title">Usefull</p>
      <li class="liste2">
        <span>Stats</span>
      </li>
      <li class="liste2">
        <span>Notifications</span>
      </li>
      <p class="title">Admin İşlemleri</p>
      <li class="liste2">
        <span>Araba Ekleme</span>
      </li>
      <li class="liste2">
        <span routerLink="/admin/addcolor">Renk Ekleme</span>
      </li>
      <li class="liste2">
        <span>Marka Ekleme</span>
      </li>
      <p class="title">Service</p>
      <li class="liste2">
        <span>Admin Ekle</span>
      </li>
      <li class="liste2">
        <span>Logs</span>
      </li>
      <li class="liste2">
        <span>Kullanıcı Şifreleri</span>
      </li>
      <p class="title">User</p>
      <li class="liste2">
        <span>Profile</span>
      </li>
      <li class="liste2">
        <span>Logout</span>
      </li>
    </ul>
  </div>
</div>
